

%h1= "Today's Priorities (#{Time.zone.now.strftime("%A")})"

%ul
	- for task in @tasks
		%li= task

%h1= "Yesterday's Priorities (#{(Time.zone.now - 1.day).strftime("%A")})"

%ul
	- for task in @old_tasks
		%li= task

