

.floating_container

  %h1
    Long Term goals, upcoming priorities:

    %li 1450 rent
    %li 31 comcast
    %li 65 utilities
    %li 2000 credit card


  %h1
    = "Today's Priorities (#{Time.zone.now.strftime("%A")})"

  %ul
    - for task in @tasks
      %li= task

.floating_container
  %h1
    = "Yesterday's Priorities (#{(Time.zone.now - 1.day).strftime("%A")})"

  %ul.floating_container
    - for task in @old_tasks
      %li= task

