
= simple_form_for invoice, :remote => true, :url => '/', :html => { :class => 'form-horizontal'} do |f|
  = f.input :title, :as => :string, :input_html => {:disabled => true, :id => nil}
  = f.input :date, :as => :string, :input_html => {:disabled => true, :id => nil}
  = f.input :total, :input_html => {:disabled => true, :id => nil}
  = f.input :description, :input_html => {:rows => 4, :disabled => true, :id => nil}
  = f.input :status, :input_html => {:disabled => true, :id => nil}

  .control-group
    .control-label
    .controls
      .btn-group
        %a.put_action.btn{ :data => {:action => 'charge', :hotkey => 'p', :attribute_enabler => "can_pay", :enabled_when => 'true', :confirm => "Charge this now?"} }
          Charge


