
- content_for :head do
  = javascript_include_tag 'client'
  = render :partial => 'shared/app_bootstrap', :locals => { :app_class => 'payment_gateway_profile', :bootstrap => current_user.client.payment_gateway_profile.try(:public) }

.container-fluid.gui-container

.templates.hide
  .invoice_view_example
    = apps_form_render Invoice.new
  .payment-gateway-profile-view-example
    .model-view-container
      .row-fluid
        .span12
          = render AuthorizeNetPaymentGatewayProfile.new
  .invoices_view_example
    = render :partial => 'shared/app', :locals => { :app_top => false, :app_class => 'invoices', :title => "Invoices", :bootstrap => rendered_current_objects }
  .container-app-example
    .payment-gateway-profile-view-container
    .invoices-app-view-container