
- content_for :head do
  = javascript_include_tag 'apps'
  = javascript_include_tag 'paymentGatewayProfile'
  = javascript_include_tag 'clientInvoices'

.container-fluid.gui-container  

.templates.hide
  .invoice_view_example
    = render Invoice.new
  .payment-gateway-profile-view-example
    .model-view-container
      .row-fluid
        .span12
          = render PaymentGatewayProfile.new
  .invoices-app-example
    .payment-gateway-profile-view-container
    = render :partial => 'shared/app', :locals => { :app_top => false, :app_class => 'invoices', :title => "Invoices for #{current_user.client.display_name}" }
