
- content_for :head do
  = javascript_include_tag 'apps'
  = javascript_include_tag 'paymentGatewayProfile'
  = javascript_include_tag 'clientInvoices'
  = render :partial => 'shared/app_bootstrap', :locals => { :app_class => 'payment_gateway_profile', :bootstrap => current_user.client.payment_gateway_profile.public }

.container-fluid.gui-container  

.templates.hide
  .invoice_view_example
    = render Invoice.new
  .payment-gateway-profile-view-example
    .model-view-container
      .row-fluid
        .span12
          = render AuthorizeNetPaymentGatewayProfile.new
  .invoices-app-example
    .payment-gateway-profile-view-container
    = render :partial => 'shared/app', :locals => { :app_top => false, :app_class => 'invoices', :title => "Invoices", :bootstrap => current_objects }
