
- klass_name = computer_monitor.class.to_s.underscore.tr('/', '_')
- demodulized_klass_name = computer_monitor.class.to_s.demodulize
= apps_form_for computer_monitor, :url => url_for(:use_route => "manage_#{demodulized_klass_name.pluralize}"), :html => { :id => nil, :class => 'form-horizontal' } do |f|

  - computer_monitor.class.apps_attributes.each do |row|
    - if row.length == 1
      = render :partial => "shared/app_field", :locals => { :f => f, :attr => row.first, :klass_name => klass_name }
    - else
      - div_class = "span6" if row.length == 2
      - div_class = "span4" if row.length == 3
      - div_class = "span3" if row.length == 4
      - if row.length > 4
        - div_class = nil 
        - inline_mode = true
      .row-fluid
        - row.each do |attr|
          %div{:class => div_class}
            = render :partial => "shared/app_field", :locals => { :f => f, :attr => attr, :klass_name => klass_name }

  .control-group
    .controls
      = render :partial => 'shared/model_view_basic_buttons'

      .btn-group
        %button.btn.refresh{:type => "button"}
          Refresh

      .btn-group
        %button.rank.put_action.btn{ :type => "button", :data => {:action => 'rank', :attribute_enabler => 'runnable?', :enabled_when => 'true', :confirm => t('backgrounded_polling.run_confirm') } }
          Run

      = render :partial => 'shared/model_view_delete_button', :locals => { :data => { :attribute_enabler => 'destroyable', :enabled_when => 'true' } }

