
= simple_form_for :seo_ranker, :html => { :class => 'form-horizontal' } do |f|

  = f.input :name

  = f.input :search_phrase

  = f.input :host_to_match

  .control-group
    .controls
      %label.checkbox
        = check_box_tag 'seo_ranker[active]', 'true', false, :class => 'active boolean'
        Active

  .control-group
    .control-label
      %label
        SEO Result:
    .controls
      .read-only-field{ :data => { :name => 'seo_ranker[ranking]' } }

  .control-group
    .control-label
      %label
        Runs this window:
    .controls
      .read-only-field{ :data => { :name => 'seo_ranker[runs_since_window_started]' } }

  .control-group
    .control-label
      %label
        Search Engine
    .controls
      .read-only-field{ :data => { :name => 'seo_ranker[search_engine]' } }

  .control-group
    .control-label
      %label
        Matching URL:
    .controls
      .read-only-field{ :data => { :name => 'seo_ranker[matching_url]' } }

  .control-group
    .control-label
      %label
        Last Error:
    .controls
      .read-only-field{ :data => { :name => 'seo_ranker[last_error]' } }

  .control-group
    .controls
      = render :partial => 'shared/model_view_basic_buttons'

      .btn-group
        %buton.btn.refresh
          Refresh

      .btn-group
        %button.rank.put_action.btn.btn-warning{ :type => "button", :data => {:action => 'rank', :attribute_enabler => 'runnable?', :enabled_when => 'true', :confirm => t('seo_ranker.run_confirm') } }
          Run

      = render :partial => 'shared/model_view_delete_button', :locals => { :data => { :attribute_enabler => 'destroyable', :enabled_when => 'true' } }

