

= simple_form_for invitation, :remote => true, :url => manage_clients_path, :html => { :class => 'form-horizontal'} do |f|

  = f.input :email, :input_html => {}.merge(invitation.persisted? ? {} : { :id => nil })

  = f.input :status, :input_html => {:disabled => true}.merge(invitation.persisted? ? {} : { :id => nil })

  .control-group
    .control-label
    .controls
      = render :partial => 'shared/model_view_basic_buttons'
      = render :partial => 'shared/model_view_delete_button'
