
= simple_form_for :business, :remote => true, :url => manage_business_path, :html => { :class => 'form-horizontal' } do |f|

  = f.input :name
  = f.input :stripe_secret_key
  = f.input :stripe_publishable_key
  = f.input :google_oauth2_client_id
  = f.input :google_oauth2_client_secret

  = f.input :splash_html, :as => :text

  = render :partial => 'shared/model_view_basic_buttons'
