
= simple_form_for :business, :url => manage_business_path, :html => { :class => 'form-horizontal' } do |f|

  = f.input :name
  = f.input :stripe_secret_key
  = f.input :stripe_publishable_key

  = render :partial => 'shared/model_view_basic_buttons'
