
- content_for :head do
  = javascript_include_tag 'manage'
  = render :partial => 'shared/app_bootstrap', :locals => { :app_class => 'business', :bootstrap => current_objects.to_json }

.gui-container.container-fluid
  .business-gui.app-gui.single-model

    .section-title
      Your Business

    .row-fluid
      .span12
        .errors.alert.alert-error.hide
        .models-show-container

      .clear

      .spinner-container.hide 
        .spinner
          = image_tag 'loading.gif'

.templates.hide
  - [Business].each do |klass|
    %div{ :class => "#{klass.to_s.underscore}_view_example"}
      = render klass.new
