<!DOCTYPE html>
<html>
  <head>
    <title>Invoice from <%= invoice.client.business.name %></title>
    <style>
      body h1 {
        color: blue;
      }
    </style>
  </head>
  <body>
    <h1>
      Invoice from <%= invoice.client.business.name %>
    </h1>

    <br/>

    <strong>Title:</strong> <%= invoice.title %>    
    <br/>
    <strong>Date:</strong> <%= invoice.pretty_date %>
    <br/>
    <strong>Total:</strong> $<%= invoice.total %>
    <br/>
    <strong>Description:</strong>
    <%= invoice.description %>
  </body>
</html

