

.container.padded
  .app-view.login_failed
    %p
      %strong
        = button_to 'Login via Google', omniauth_authorize_path(:provider => :google_oauth2), :class => "btn"

    %p
      Or, use your username and password with that you may have created:

      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = devise_error_messages!

        = f.input :email
        = f.input :password
        = f.submit I18n.t('sign_in'), :class => "btn"

      %p
        = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
