
= simple_form_for product, :remote => true, :url => manage_products_path(product), :html => { :class => 'form-horizontal'} do |f|

  = f.input :name

  = f.input :price, :input_html => { :class => ["currency"] }

  = f.input :weight

  = f.input :weight_units

  = f.input :active

  .control-group
    .control-label
    .controls
      .btn-group
        %a.btn.expand_more{ :data => { :toggle => "button" }}
          %i.icon-chevron-down
          Description

  .more_info.hide
    = f.input :description, :as => :text, :input_html => {}.merge(product.persisted? ? {} : { :id => nil })

  .control-group
    .control-label
      Images
    .controls
      .models-list.image-collection-container
        .errors
        .images_existing.image-list
        .clearfix
        .images_drag_and_drop.dropzone
        .discarded_dropzone_previews.hide

  .control-group
    .control-label
    .controls
      = render :partial => 'shared/model_view_basic_buttons'
      = render :partial => 'shared/model_view_delete_button'
  