
- content_for :head do
  - if manage
    = javascript_include_tag 'manage'

.gui-container.container-fluid
  .app-gui{:class => ["#{app_class}-gui ", (multiplicity == 'single' ? 'single-model' : nil)].compact}
    = render :partial => 'shared/app', :locals => { apps_configuration }

.templates.hide
  - model_templates.each do |klass|
    %div{ :class => "#{klass.to_s.underscore}_view_example"}
      = render klass.new

