
.login.menu.major
  - if user_signed_in?
    Logged In:
    = current_user.login_name

    = link_to "Home", root_path, :tabIndex => '-1'
    |
    - if current_user.employee
      = link_to 'Products', manage_products_path, :tabIndex => '-1'
      |
      = link_to 'Clients', manage_clients_path, :tabIndex => '-1'
      |
      = link_to 'System Status', manage_status_monitor_path, :tabIndex => '-1'
      |
      = link_to 'My Business', manage_business_path, :tabIndex => '-1'
    - else
      = link_to 'Invoices', client_invoices_path, :tabIndex => '-1'
    |
    = link_to 'Logout', destroy_user_session_path, :tabIndex => '-1'
  - else
    = link_to 'Login', user_omniauth_authorize_path(:google_oauth2)
