
.pg_content.hide
  #pg_title.pg_title
    %h1{ :style => "display:block;top:5px;" }
      Quagress
    %h1
      My Philosophy

  #pg_preview
    = image_tag( "portfolio/medium/1.jpg", :class => "pg_thumb", :style=>"display:block;z-index:9999;", :alt => "images/portfolio/large/1.jpg")
    = image_tag( "portfolio/medium/2.jpg", :class => "pg_thumb", :alt => "images/portfolio/large/2.jpg")


  #pg_desc1.pg_description
    .project_entry{ :style => "display:block;left:250px;" }
      %h2
        Project Description
      %p
        A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.

    .project_entry
      %h2
        Project Description

      %p
        It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer.

  #pg_desc2.pg_description
    .project_entry{ :style=> "display:block;left:650px;" }
      %h2
        Technologies Used

      %p
        The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.

    .project_entry
      %h2
        Technologies Used

      %p
        A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.

#thumbContainter.hide
  .floating_container
    = link_to "< Leave Portfolio", "#", :id => "home_link"
    

  #thumbScroller
    .container
      .content
        %div
          = link_to( image_tag("portfolio/thumbs/1.jpg", :alt => "", :class => "thumb"), "#")
      .content
        %div
          = link_to( image_tag("portfolio/thumbs/2.jpg", :alt => "", :class => "thumb"), "#")

#overlay


= render :partial => "shared/gallery"

