
- content_for :head do
  = javascript_include_tag "gallery"

.pg_content.hide
  #pg_title.pg_title
    - @projects.each_with_index do |p, i|
      %h1{ :style => ((i == 0) ? "display:block;top:5px;" : "" ) }
        = p[:title]

  #pg_preview
    - @projects.each_with_index do |p, i|
      .pg_thumb_block{:style=> ((i == 0) ? "display:block;z-index:9999;" : "")}
        - p[:images].each do |im|
          = image_tag( im.data.small.url, :class => "pg_thumb", :alt => im.data.large.url )

  #pg_desc1.pg_description
    - @projects.each_with_index do |p, i|
      .project_entry{ :style=> ((i == 0) ? "display:block;left:250px;" : "" ) }
        %h2
          Project Description
        %p
          = p[:desc]

  #pg_desc2.pg_description
    - @projects.each_with_index do |p, i|
      .project_entry{ :style=> ((i == 0) ? "display:block;left:650px;" : "" ) }
        %h2
          Technologies Used
        %p
          = p[:tech]

#thumbContainter.hide

  #thumbScroller
    .container
      - @projects.each_with_index do |p, i|
        .content
          %div
            = link_to( image_tag(p[:thumb], :alt => "", :class => "thumb"), "#")

#overlay

