
- content_for :head do
  = javascript_include_tag 'clients'
  = javascript_include_tag 'invoices'
  = render 'bootstrap'

.container-fluid.gui-container
  
  .row-fluid.clients-gui

    .span3
      %h1
        Clients

      %button.add-client.btn
        +New

      %ul.clients-list

    .span9
      .errors.alert.alert-error.hide
      .clients-show-container

    .clear

    .spinner-container.hide 
      .spinner
        = image_tag 'loading.gif'

  .row-fluid.invoices-gui.hide  
    .span4
      %h1
        Invoices

      .btn-group
        %button.back.btn
          Back
        %button.add-invoice.btn
          +New

      %ul.invoice-list

    .span8
      .errors.alert.alert-error.hide
      .invoices-show-container

    .clear

    .spinner-container.hide 
      .spinner
        = image_tag 'loading.gif'
.templates.hide
  .client_view_example
    = render Client.new

