
- content_for :head do
  = javascript_include_tag "home.js"

#main.floating_container

  #top_menu
    %ul
      %li
        = link_to "Portfolio", "#", :id => "projects_link"

      %li
        = link_to "Sample Code", "https://github.com/mikedll", :target => "_blank"
        (github.com)

      %li
        = link_to("Hire Me", "http://www.odesk.com/users/Skills-pay-bills_~~b7c77f857ebb0450", :target => "_blank")
        (odesk.com)

  .clear

  #latest_blog_entries.feature.dynamic
    %h1
      My Articles & Videos
    %ul#blog_entries
      %li

  %h2
    The Mike De La Loza Company

  #missionstatement

    %p 
      I'm Mike De La Loza and this is my work. I started working alone on December 13th, 2010
      in Monterey, California.

    %p
      I'm available as a freelance software developer on ODesk.com.
      I seek clients that are building something with software.

    %p
      Tech I work with: Linux, .NET, Apache, MySQL, Perl, Python, PHP,
      JavaScript, OpenGL, C/C++, Java, Scala, Visual Basic,
      MongoDB, PostgreSQL, Git, Ruby on Rails, Haml/Sass, jQuery, CoffeeScript, Android and Objective-C.


= render :partial => "shared/projects"
