
#main.floating_container

  #top_menu
    %ul
      %li
        = link_to "Portfolio", "#", :id => "projects_link", 'data-hotkey' => 'p'

      %li
        = link_to "Github", "https://github.com/mikedll", 'data-hotkey' => 'g'

      %li
        = link_to("Hire Me on ODesk", "http://www.odesk.com/users/Skills-pay-bills_~~b7c77f857ebb0450", 'data-hotkey' => 'h')

      %li
        = link_to("Contact Me", contact_home_path, 'data-hotkey' => 'c')

  .clear

  #latest_blog_entries.feature.dynamic
    %h1
      My Articles & Videos
    %ul#blog_entries
      %li

  %h2
    The Mike De La Loza Company

  #missionstatement

    %p 
      I'm Mike and I work independently as a software product
      developer.  I started on December 13th, 2010 in Monterey,
      California, and now live in Anza, California. The scenic pictures
      you see in the background are from those two small towns.
    
    %p
      I'm available for hire as a contractor.

    %p
      My main development machine has 32GB of RAM, 500GB of SSD space,
      4 processors, and two 23 inch monitors. It's ready with Windows
      7 and can run multiple Linux VMs without any performance
      issues. Additionally, I have an 8GB RAM MacBook Pro that dual
      boots into both Windows 7 and OS X. I understand why log(n) is
      better than n and way better than (n^2).  I occasionally produce
      instructional videos or articles on my blog. One of my blogposts is the #8 Google
      search result for "red black trees python".
      
    %p
      Tech I work with: Linux, .NET, Apache, MySQL, Perl, Python, PHP,
      JavaScript, OpenGL, C/C++, Java, Scala, Visual Basic,
      MongoDB, PostgreSQL, Git, Ruby on Rails, Haml/Sass, jQuery, CoffeeScript, Android and Objective-C

    %p
      I'm familiar with the platforms and APIs of EC2, Linode, Heroku, Smugmug, Chargify, and Authorize.net.


= render :partial => "shared/projects"
