
= simple_form_for transaction, :remote => true, :url => manage_clients_path, :html => { :class => 'form-horizontal'} do |f|

  .control-group.read-only-field{ :data => { :name => 'type' } }
    .control-label
      Type:
    .controls

  .outside_transaction_fields
    = f.input :outside_id, :label => "Outside Id", :input_html => {}.merge(transaction.persisted? ? {} : { :id => nil })

    = f.input :outside_vendor, :collection => OutsideTransaction::OUTSIDE_VENDORS, :input_html => {}.merge(transaction.persisted? ? {} : { :id => nil })

  = f.input :status, :input_html => {:disabled => true}.merge(transaction.persisted? ? {} : { :id => nil })

  = f.input :amount, :input_html => {}.merge(transaction.persisted? ? {} : { :id => nil })

  .control-group
    .control-label
    .controls
      = render :partial => 'shared/model_view_basic_buttons'
 
      .btn-group
        %button.put_action.btn{ :data => {:action => 'mark_successful', :attribute_enabler => 'succeedable', :enabled_when => 'true', :confirm => "Review your information carefully. It cannot be deleted after this. Proceed?"}}
          Mark Successful

      = render :partial => 'shared/model_view_delete_button', :locals => { :data => { :attribute_enabler => 'destroyable', :enabled_when => 'true' } }
