
%p
  Hi 
  = "#{@us.business.an_owner.first_name},"

%p
  Your
  = "#{MarketingFrontEnd.current.title}"
  subscription is no longer active.  You may login and check your
  "Billing Settings" to update payment and plan information to activate it.
  Features will no longer function until you do.

%p
  You may ignore this message if you no longer want to use the product.

%p
  Michael Rivera,
  %br
  = link_to "#{MarketingFrontEnd.current.title}", root_url
