
= simple_form_for invoice, :remote => true, :url => manage_invoices_path(invoice), :html => { :class => 'form-horizontal'} do |f|
  = f.input :title, :as => :string, :input_html => {}.merge( invoice.persisted? ? {} : { :id => nil } )
  = f.input :date, :as => :string, :input_html => {}.merge( invoice.persisted? ? {} : { :id => nil } )
  = f.input :total, :input_html => {}.merge( invoice.persisted? ? {} : { :id => nil } )
  = f.input :description, :input_html => {:rows => 4}.merge( invoice.persisted? ? {} : { :id => nil } )

  = f.input :status, :as => :string, :input_html => {:disabled => true}.merge( invoice.persisted? ? {} : { :id => nil } )
  

  .btn-group
    %a.save.btn.btn-primary
      Save

  .btn-group
    %a.put_action.btn{ :data => {:action => 'mark_pending', :hotkey => 'm', :confirm => "Mark this invoice as pending so others can see it?"}}
      Mark Pending

  .btn-group.pull-right
    %a.destroy.btn.btn-danger{ :data => { :confirm => "Delete this?" }}
      Delete


