
= simple_form_for invoice, :remote => true, :url => manage_invoices_path(invoice), :html => { :class => 'form-horizontal'} do |f|
  = f.input :title, :as => :string, :input_html => {}.merge( invoice.persisted? ? {} : { :id => nil } )
  = f.input :date, :as => :string, :input_html => {}.merge( invoice.persisted? ? {} : { :id => nil } )
  = f.input :total, :input_html => {}.merge( invoice.persisted? ? {} : { :id => nil } )
  = f.input :description, :input_html => {:rows => 4}.merge( invoice.persisted? ? {} : { :id => nil } )

  = f.input :status, :as => :string, :input_html => {:disabled => true}.merge( invoice.persisted? ? {} : { :id => nil } )
  

  .btn-group
    %button.save.btn.btn-primary
      Save

  .btn-group
    %button.destroy.btn.btn-danger{ :data => { :confirm => "Delete this?" }}
      Delete


