
= simple_form_for invoice, :remote => true, :url => manage_clients_path, :html => { :class => 'form-horizontal'} do |f|

  .control-group
    .control-label
    .controls
      .btn-group
        %a.transactions.btn
          %i.icon-book
          Transactions

  = f.input :title, :as => :string, :input_html => invoice.persisted? ? {} : { :id => nil }
  = f.input :date, :as => :string, :input_html => {:class => 'datepicker'}.merge(invoice.persisted? ? {} : { :id => nil })
  = f.input :total, :input_html => invoice.persisted? ? {} : { :id => nil }
  = f.input :description, :input_html => {:rows => 4}.merge( invoice.persisted? ? {} : { :id => nil } )

  = f.input :status, :as => :string, :input_html => {:disabled => true}.merge( invoice.persisted? ? {} : { :id => nil } )

  .control-group
    .control-label
    .controls
      .btn-group
        %a.save.btn.btn-primary
          Save

      .btn-group
        %a.put_action.btn{ :data => {:action => 'mark_pending', :hotkey => 'm', :attribute_enabler => 'status', :enabled_when => 'open', :confirm => "Mark this invoice as pending so others can see it?"}}
          Mark Pending

      .btn-group
        %a.put_action.btn{ :data => {:action => 'mark_paid', :attribute_enabler => 'status', :enabled_when => 'pending,failed_payment', :confirm => "This will mark the invoice as paid. You must have created an outside transaction to do this."}}
          Mark Paid

      .btn-group
        %a.put_action.btn{ :data => {:action => 'cancel', :attribute_enabler => 'status', :enabled_when => 'pending,failed_payment', :confirm => "This will cancel this invoice. It will be hidden from the client."}}
          Cancel

      .btn-group
        %a.put_action.btn.btn-warning{ :data => {:action => 'charge', :attribute_enabler => 'status', :enabled_when => 'pending,failed_payment', :confirm => "Has the client approved this?"}}
          Charge

      .btn-group.pull-right
        %a.destroy.btn.btn-danger{ :data => { :attribute_enabler => 'status', :enabled_when => 'open', :confirm => "Delete this?" }}
          Delete
  



