
= simple_form_for :billing_settings, :remote => true, :url => manage_billing_settings_path, :html => { :class => 'form-horizontal' } do |f|

  = f.input :card_number
  = f.input :expiration_month
  = f.input :expiration_year
  = f.input :cv_code

  - Feature.all.each do |feature|
    .control-group
      .control-label
        %label{:for => "billing_settings_feature_selections_attributes_#{feature.id}"}
          = feature.public_name
      .controls
        = check_box_tag 'billing_settings[feature_selections_attributes][]', feature.id, true, :id => "billing_settings_feature_selections_attributes_#{feature.id}"

  = render :partial => 'shared/model_view_basic_buttons'
