
= simple_form_for :billing_settings, :remote => true, :url => manage_billing_settings_path, :html => { :class => 'form-horizontal' } do |f|

  = f.input :card_number
  = f.input :expiration_month
  = f.input :expiration_year
  = f.input :cv_code

  - Feature::ALL.each do |feature|
    .control-group
      .control-label
        %label
          = feature.last
      .controls
        = check_box_tag feature.first, true

  = render :partial => 'shared/model_view_basic_buttons'
