
= simple_form_for :billing_settings, :remote => true, :url => manage_billing_settings_path, :html => { :class => 'form-horizontal' } do |f|

  .errors.alert.alert-error.hide

  = f.simple_fields_for :payment_gateway_profile_attributes do |pgpa|
    = pgpa.input :card_number
    = pgpa.input :expiration_month
    = pgpa.input :expiration_year
    = pgpa.input :cv_code

  %h5
    Select which features you want to enable:

  - Feature.all.each do |feature|
    .control-group
      .control-label
        %label{:for => "billing_settings_feature_selections_attributes_#{feature.id}"}
          = feature.public_name
      .controls
        = check_box_tag 'billing_settings[feature_selections_attributes][]', feature.id, current_object.has_feature(feature),  :id => "billing_settings_feature_selections_attributes_#{feature.id}", :class => "has-many-relation"

  = render :partial => 'shared/model_view_basic_buttons'
