
= simple_form_for :billing_settings, :remote => true, :url => manage_billing_settings_path do |f|

  %h5
    Payment Information

  .errors.alert.alert-error.hide

  = f.simple_fields_for :payment_gateway_profile_attributes do |pgpa|
    = render :partial => "shared/payment_gateway_profile_attributes", :locals => { :f => pgpa, :card_number_placeholder => nil }

  .form-horizontal
    .features-menu
      %h5
        Features Enabled

      %p
        The 
        = Feature.find_by_name(Names::APPS_FRAMEWORK).public_name
        feature is a requisite for all other features. If you use
        any other feature, please select this feature as well.
        If you were a customer before this feature existed,
        you may ignore this request.

      - features = Feature.bit_index_ordered.all
      - features_in_row = []
      - features.each_with_index do |f, i|
        - features_in_row.push(f)
        - if i % 3 == 2 || i == features.count - 1
          -# todo remove .models-show-container from the row-fluid it is under outside this view. M. Rivera, Sept 11th 2015
          .row-fluid
            - features_in_row.each do |feature|
              .span3
                .feature-display.control-group

                  %label{:for => "billing_settings_feature_selections_attributes_#{feature.id}", :class => "checkbox"}
                    = check_box_tag 'billing_settings[feature_selections_attributes][]', feature.id, current_object.has_feature(feature),  :id => "billing_settings_feature_selections_attributes_#{feature.id}", :class => "has-many-relation"
                    = feature.public_name
                    .price.pull-right
          - features_in_row = []

      .clear
      .control-group.price-display
        .control-label
          %label
            Monthly Price:
        .controls
          .read-only-field{:data => {:name => 'billing_settings[price]'}, :class => "money" }

      .control-group.trial-remote-status-display
        .control-label
          %label
            Subscription Status:
        .controls
          .read-only-field{:data => {:name => 'billing_settings[payment_gateway_profile][remote_status]'} }

      .control-group.trial-ends-at-display
        .control-label
          %label
            Trial Ends:
        .controls
          .read-only-field{:data => {:name => 'billing_settings[payment_gateway_profile][trial_ends_at]'}, :class => "datetime" }

      .control-group
        .control-label
        .controls
          = render :partial => 'shared/model_view_basic_buttons'
