

= simple_form_for user, :remote => true, :url => manage_clients_path, :html => { :class => 'form-horizontal'} do |f|

  .explanation
    Users cannot be directly edited or created. To create a user, setup an invitation.
    %br

  = f.input :first_name, :readonly => true

  = f.input :last_name, :readonly => true

  = f.input :email, :readonly => true

  = f.input :created_at, :readonly => true, :as => :string

