
= simple_form_for client, :remote => true, :url => manage_clients_path(client), :html => { :class => 'form-horizontal'} do |f|

  .control-group
    .control-label
    .controls
      .btn-group
        %a.invoices.btn{ :data => { :hotkey => 'i' }}
          %i.icon-book
          Invoices
      .btn-group
        %a.notes.btn
          %i.icon-comment
          Notes
      .btn-group
        %a.users.btn
          %i.icon-user
          Users
      .btn-group
        %a.invitations.btn
          User Invitations


  = f.input :company, :input_html => client.persisted? ? {} : { :id => nil }

  = f.input :first_name, :input_html => client.persisted? ? {} : { :id => nil }
  
  = f.input :last_name, :input_html => client.persisted? ? {} : { :id => nil }

  = f.input :email, :input_html => client.persisted? ? {} : { :id => nil }

  = f.input :website_url, :input_html => client.persisted? ? {} : { :id => nil }

  = f.input :skype_id, :input_html => client.persisted? ? {} : { :id => nil }

  = f.input :phone, :input_html => client.persisted? ? {} : { :id => nil }

  = f.input :last_contact_at, :as => :string, :input_html => {:class => 'datetimepicker'}.merge(client.persisted? ? {} : { :id => nil })

  = f.input :next_contact_at, :as => :string, :input_html => {:class => 'datetimepicker'}.merge(client.persisted? ? {} : { :id => nil })

  .control-group
    .control-label
    .controls
      .btn-group
        %a.btn.expand_address{ :data => { :toggle => "button" }}
          %i.icon-chevron-down
          More

  .address_info.hide

    = f.input :phone_2, :input_html => client.persisted? ? {} : { :id => nil }

    = f.input :address_line_1, :input_html => client.persisted? ? {} : { :id => nil }

    = f.input :address_line_2, :input_html => client.persisted? ? {} : { :id => nil }

    = f.input :city, :input_html => client.persisted? ? {} : { :id => nil }

    = f.input :state, :input_html => client.persisted? ? {} : { :id => nil }

    = f.input :zip, :input_html => client.persisted? ? {} : { :id => nil }

  .control-group
    .control-label
    .controls
      .btn-group
        %a.save.btn.btn-primary
          Save

      .btn-group.pull-right
        %a.archive.put_action.btn.btn-danger{ :data => {:action => 'archive', :attribute_enabler => 'archived', :enabled_when => 'false', :confirm => t('client.archive_confirm') } }
          Archive
        %a.unarchive.put_action.btn.btn-danger{ :data => {:action => 'unarchive', :attribute_enabler => 'archived', :enabled_when => 'true', :confirm => t('client.unarchive_confirm')}}
          Unarchive


  .clearfix
