
- content_for :head do
  = javascript_include_tag 'generated/apps'
  = javascript_include_tag 'generated/clients'
  = javascript_include_tag 'generated/invoices'
  = render 'bootstrap'


.container-fluid.gui-container  
  .clients-gui.app-gui
    .section-title
      Clients

    .app-top
      = render :partial => 'shared/app_top', :locals => { :filters => [['recently_modified', 'Recently Modified'], ['archived', 'Show Archived']] }

    .row-fluid

      .span3
        %ul.clients-list.models-list

      .span9
        .errors.alert.alert-error.hide
        .models-show-container

      .clear

      .spinner-container.hide 
        .spinner
          = image_tag 'loading.gif'

.templates.hide
  .client_view_example
    = render Client.new
  .invoice_view_example
    = render Invoice.new
  .invoices_view_example
    %h2
      Invoices
    .app-top
      .btn-group
        %button.back.btn
          Back
      = render :partial => 'shared/app_top'

    .row-fluid
      .span3
        %ul.invoices-list.models-list

      .span9
        .errors.alert.alert-error.hide
        .models-show-container

      .clear

      .spinner-container.hide 
        .spinner
          = image_tag 'loading.gif'
