
- content_for :head do
  = javascript_include_tag 'manage'

.container-fluid.gui-container  
  .clients-gui.app-gui
    = render :partial => 'shared/app', :locals => { :app_top => true, :app_class => 'clients', :title => "Clients", :filters => [['recently_modified', 'Recently Modified'], ['archived', 'Archived']], :sorts => [['id', 'asc', 'int', 'Id'], ['next_contact_at', 'asc', 'date', 'Next Contact At'], ['updated_at', 'desc', 'date', 'Updated At'], ['last_name', 'asc', 'string', 'Last Name']], :bootstrap => current_objects, :additional_bootstraps => [] }

.templates.hide
  - [Client, Invoice, Note, Invitation, User, Transaction].each do |klass|
    %div{ :class => "#{klass.to_s.underscore}_view_example"}
      = render klass.new
  = render :partial => 'shared/model_collection_view_template', :locals => { :model_name => 'invoice'}
  = render :partial => 'shared/model_collection_view_template', :locals => { :model_name => 'note'}
  = render :partial => 'shared/model_collection_view_template', :locals => { :model_name => 'invitation'}
  = render :partial => 'shared/model_collection_view_template', :locals => { :model_name => 'transaction'}
  = render :partial => 'shared/model_collection_view_template', :locals => { :model_name => 'user', :disable_create => true}
