
- content_for :head do
  = javascript_include_tag 'clients'
  = javascript_include_tag 'invoices'
  = render 'bootstrap'

.container-fluid.gui-container
  
  .clients-gui.app-gui
    %h1
      Clients

    .btn-group
      %button.add-client.btn
        +New

    .row-fluid

      .span3
        %ul.clients-list

      .span9
        .errors.alert.alert-error.hide
        .clients-show-container

      .clear

      .spinner-container.hide 
        .spinner
          = image_tag 'loading.gif'

.templates.hide
  .client_view_example
    = render Client.new
  .invoices_view_example
    %h1
      Invoices
    .btn-group
      %button.back.btn
        Back
      %button.add-invoice.btn
        +New

    .row-fluid
      .span3
        %ul.invoice-list

      .span9
        .errors.alert.alert-error.hide
        .invoices-show-container

      .clear

      .spinner-container.hide 
        .spinner
          = image_tag 'loading.gif'
