
- content_for :head do
  - apps_configuration[:javascript_modules].each do |mod|
    = javascript_include_tag mod.to_s

.gui-container.container-fluid
  .app-gui{:class => ["#{apps_configuration[:app_class]}-gui ", (apps_configuration[:multiplicity] == 'single' ? 'single-model' : nil)].compact}
    = render :partial => 'shared/app', :locals => apps_configuration

.templates.hide
  - apps_configuration[:model_templates].each do |klass|
    %div{ :class => "#{klass.to_s.underscore.tr('/', '_')}_view_example"}
      = render klass.new
