
- content_for :head do
  - apps_configuration[:javascript_modules].each do |mod|
    = javascript_include_tag mod.to_s

.gui-container.container-fluid
  .app-gui{:class => ["#{apps_configuration[:app_class]}-gui ", (apps_configuration[:multiplicity] == 'singular' ? 'single-model' : nil)].compact}
    = render :partial => 'shared/app', :locals => apps_configuration

.templates.hide
  - apps_configuration[:model_templates].each do |klass|
    %div{ :class => "#{klass.to_s.underscore.tr('/', '_')}_view_example"}
      - if klass.introspectable_configuration
        = apps_form_render(klass.new)
      - else
        = render klass.new
  - apps_configuration[:additional_templates].each do |template_name|
    %div{ :class => "#{template_name}_view_example"}
      = render :partial => template_name.to_s
  - apps_configuration[:additional_apps].each do |app_config|
    %div{:class => "#{app_config[:app_name]}_view_example"}
      = render :partial => "shared/app", :locals => app_config
