!!!

%html
  %head
    %title The Mike De La Loza Company
    = csrf_meta_tag

    = stylesheet_link_tag :defaults
    = stylesheet_link_tag "projects"

    = javascript_include_tag :defaults
    = javascript_include_tag "http://www.google.com/jsapi?key=ABQIAAAA72yvhISft7fcXhZGyvHBHxRsGGQrPf-nc6BgXjkx_4DXFvH7xxRDhZbcZcLQhHVpXhIMcqUTfHQQ8g"
    = javascript_include_tag "pretty.js"
    = javascript_include_tag "vendor/underscore.js"
    = javascript_include_tag "vendor/backbone.js"
    = javascript_include_tag "generated/hotkeys.js"
    = javascript_include_tag "generated/main.js"

    = yield :head

  %body

    = render :partial => "shared/gain_layout"

    %div{ 'data-asset-prefix' => asset_prefix, 'id' => 'header'}

    = yield

    = render  :partial => "shared/ganalytics" if Rails.env.production?
