!!!

%html
  %head
    %title The Mike De La Loza Company
    = csrf_meta_tag

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
    
    = javascript_include_tag "application"
    = javascript_include_tag "https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"
    = javascript_include_tag "https://www.google.com/jsapi?key=ABQIAAAA72yvhISft7fcXhZGyvHBHxRsGGQrPf-nc6BgXjkx_4DXFvH7xxRDhZbcZcLQhHVpXhIMcqUTfHQQ8g"

    = yield :head

  %body
    = render :partial => "shared/gain_layout"
    %div{ 'data-asset-prefix' => asset_prefix, 'id' => 'header'}
    = render :partial => "shared/flash", :locals => { :flash => flash }
    = yield

    = render :partial => "shared/ganalytics" if Rails.env.production?
    = render :partial => "shared/login"
