!!!

%html
  %head
    %title= page_title
    = csrf_meta_tag

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "home"

    = javascript_include_tag "application"
    = javascript_include_tag "home"
    = javascript_include_tag "https://www.google.com/jsapi?key=ABQIAAAA72yvhISft7fcXhZGyvHBHxRsGGQrPf-nc6BgXjkx_4DXFvH7xxRDhZbcZcLQhHVpXhIMcqUTfHQQ8g"

    = yield :head

  %body
    = render :partial => "shared/gain_layout"
    %div{ 'data-asset-prefix' => absolute_asset_prefix, 'id' => 'header'}

    = yield

    = render :partial => "shared/menu"
    = render :partial => "shared/remote_prod_includes"
