

.container.padded
  %h2
    = t('sign_up')

  - if resource.conflicting_invitation
    %p
      If you are
      = "#{resource.conflicting_invitation.email}, "
      and already started the business creation process,
      you can 
      = t('login_via_oauth')
      now to continue.
    %p
      = button_to t('login_via_oauth'), omniauth_authorize_path(:provider => :google_oauth2), :class => "btn"

  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => ["form-horizontal new-registration-form"] }) do |f|
    = devise_error_messages!

    = simple_fields_for @business do |bf|
      = bf.input :handle, :label => t('business.signup_handle')

    = f.input :email, :required => true

    .control-group
      %label
      .controls

        The business handle is an alphanumeric string that will be
        used in web URLs here on the CRM.  It must consist only of
        lower case letters and numbers, and it should
        describe your business. Example 'rocketfoodies',
        'lisaandrewsspa', 'newenglandfishery', 'hipcorgishow'.

    = f.input :use_google_oauth_registration, :as => :boolean, :label => "Use Google OAuth instead of password (recommended)"

    .custom-account-fields
      = f.input :first_name, :required => true

      = f.input :last_name, :required => true

      = f.input :password, :required => true

      = f.input :password_confirmation, :required => true

    .control-group
      %label
      .controls
        = f.submit t('sign_up'), :class => "btn"

